body
{
background-color:#a9f04b;
}

h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#sketch_name
{
  color:red;
}

#show_sketch
{
  float:right;
  background-color: rgba(255, 248, 220, 0);
}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }

  #score
{
  font-size:35px;
  margin-left: 20px;
}

#time
{
  font-size:35px;
  float:right;
  margin-right: 20px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 10s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example
{
    0%   {box-shadow: 5px 5px 50px red }
    10%  {box-shadow: 5px 5px 50px yellow}
    20%  {box-shadow: 5px 5px 50px blue }
    40%  {box-shadow: 5px 5px 50px green }
    60% {box-shadow: 5px 5px 50px pink }
    80% {box-shadow: 5px 5px 50px powderblue }
    100% {box-shadow: 5px 5px 50px purple }
  
}